<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* Add any additional CSS styles here */
    </style>
  </head>
  <body>
    <img
      src="https://www.risemarketing.shop/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.b506e232.png&w=256&q=75"
      alt="Logo"
      class="h-16 w-auto mb-4"
    />
    <p class="font-bold">Hello {{recipientName}},</p>
    <p>{{message}}</p>
    <p>Best regards,</p>
    <p>Your Name</p>
  </body>
</html>
