<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Add any additional CSS styles here */
      .name_recipient{
        color: red;
        font-weight: bold;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <img
      src="https://www.risemarketing.shop/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.b506e232.png&w=256&q=75"
      alt="Logo"
      class="h-16 w-auto mb-4"
    />
    <p class="font-bold name_recipient" style="color: red;">Hello {{recipientName}},</p>
    <p>{{message}}</p>
    <p>Best regards,</p>
    <p>Rise Marketing</p>
  </body>
</html>
